<ngx-charts-gauge
    *ngIf="activated"
    class="chart-container"
    [view]="chartOptions.view"
    [legend]="chartOptions.showLegend"
    [legendTitle]="chartOptions.legendTitle"
    [results]="data"
    [textValue]="chartOptions.gaugeTextValue"
    [scheme]="chartOptions.colorScheme"
    [min]="chartOptions.gaugeMin"
    [max]="chartOptions.gaugeMax"
    [units]="chartOptions.gaugeUnits"
    [angleSpan]="chartOptions.gaugeAngleSpan"
    [startAngle]="chartOptions.gaugeStartAngle"
    [showAxis]="chartOptions.gaugeShowAxis"
    [bigSegments]="chartOptions.gaugeLargeSegments"
    [smallSegments]="chartOptions.gaugeSmallSegments"
    [margin]="margin ? [marginTop, marginRight, marginBottom, marginLeft] : null"
    [tooltipDisabled]="chartOptions.tooltipDisabled"
    (select)="select($event)"
    (legendLabelClick)="onLegendLabelClick($event)">
</ngx-charts-gauge>
