<md-card class="card-content">
<form flex="100" class="base" name="forgotPasswordForm" #forgotPasswordForm="ngForm" (ngSubmit)="askForPasswordReset(username)" novalidate autocomplete="off">
  <h3 class="center-align"><b>Restore your password</b></h3>
  <md-icon *ngIf="!message"><i class="fa fa-user"></i></md-icon>
  <md-input-container  *ngIf="!message" class="input-username">
    <input mdInput [(ngModel)]="username" type="text" placeholder="Username" id="username" name="username" lowercase required autofocus>
  </md-input-container>

  <div class="center-align" >
    <button *ngIf="!message"  md-raised-button type="submit" class=" md-primary">Submit</button>
  </div>
  <div class="center-align" *ngIf="!error && message">
    <strong>{{message}}</strong>
  </div>
  <div class="center-align text-danger" *ngIf="error && !message">
    <strong>{{error}}</strong>
  </div>
</form>
</md-card>
